@layout CoverLayout
@page "/getting-started"

<div class="my-5">
	<h4 class="my-3">There are 2 ways to get SocialGuard, depending on your needs :</h4>

	<div class="p-1 border border-secondary rounded-3">
		<ul class="nav nav-pills nav-justified" style="cursor: pointer;">
			<li class="nav-item"><a class="nav-link @(select is Select.Bot ? "active" : null)" @onclick="() => select = Select.Bot">Using a Bot</a></li>
			<li class="nav-item"><a class="nav-link @(select is Select.Self ? "active" : null)" @onclick="() => select = Select.Self">Integration</a></li>
		</ul>
	</div>
</div>

@if (select is Select.Bot)
{
	<FileContent ContentFilePath="assets/content/gettingstarted-bot.html" />
}
else if (select is Select.Self)
{
	<FileContent ContentFilePath="assets/content/gettingstarted-self.html" />
}


@code {
	[CascadingParameter] CoverLayout Layout { get; set; }

	private Select select;

	protected override async Task OnInitializedAsync()
	{
		Layout.SetCover("Getting Started", "Adding SocialGuard to your server.");
		await base.OnInitializedAsync();
	}

	enum Select
	{
		None, Bot, Self
	}
}
