@layout CoverLayout
@page "/"

<h1>Hello, world!</h1>


@code {
	[CascadingParameter] CoverLayout Layout { get; set; }

	protected override async Task OnInitializedAsync()
	{
		Layout.SetCover("NSYS SocialGuard", "Security for your Community.", true, true);
	}
}
